{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Your next great read:</h2>
        <div id="viewBooksTop" class="card mb-3" style="max-width: 740px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src={{this.img}} class="card-img" alt="bookImage">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> {{this.title}}</h5>
                <p class="card-text"> {{this.reviews}} </p>
                <div class="dropdown">
                   <select class="selectBook" id="bookInput">
                      <option selected>Pick me!</option>
                      <option value="28">Read</option>
                      <option value="12">To Read</option>
                      <option value="16">Currently Reading</option>
                      </select>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <h2>Your next great read:</h2>
          <div id="viewBooksTop" class="card mb-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src={{this.img}} class="card-img" alt="bookImage">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> {{this.title}}</h5>
                  <p class="card-text"> {{this.reviews}} </p>
                  <select class="selectBook" id="bookInput">
                      <option selected>Pick me!</option>
                      <option value="28">Read</option>
                      <option value="12">To Read</option>
                      <option value="16">Currently Reading</option>
                      </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <h2>Your next great read:</h2>
            <div id="viewBooksTop" class="card mb-3" style="max-width: 740px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src={{this.img}} class="card-img" alt="bookImage">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"> {{this.title}}</h5>
                    <p class="card-text"> {{this.reviews}} </p>
                    <div class="dropdown">
                      <select class="selectBook" id="bookInput">
                      <option selected>Pick me!</option>
                      <option value="28">Read</option>
                      <option value="12">To Read</option>
                      <option value="16">Currently Reading</option>
                      </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {{!-- {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div> --}}

    <div class="refreshBtn">
      <button onClick="window.location.reload();" type="reload" class="btnRefresh btn-primary"> Refresh Books </button>
    </div>

    <script src="/assets/js/example.js"></script>

    {{> modal/login-block}}

    <script>
      var userId = {{ userInfo.id }};
    </script>