{{> nav/nav-block user=true register=false}}

<!--Card for user Profile-->
<section class="row userRow">
  <div class="col-md-12" width="100%">
    <div id="userCard" class="card mb-3" style="max-width: 900px;">
      <div id="cardHeader" class="card-header">
        <button id="addUserButton" type="button" class="btn btn-default btn-sm">
          <i class="fa fa-user-plus">Add</i>
        <h5> {{ userInfo.firstName}}</h5>
        </button>
        {{!-- <img src="../public/assets/images/smallpng."> --}}
      </div>
      <div class="col-md-12">
        <div class="card-body" id="cardBody1">
          <div class="row">
            <div id="imgGoesHere" class="col-md-12">
             {{!-- <img src="../public/assets/images/smallpng.png"> --}}   
              <div class="row">
            <div class="col-md-12">
              <p class="card-text id=""">Member since {{memberSince}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="card-text">{{userInfo.firstName}} is currently reading: 
                {{#each currentList}}
                <br>
                {{ title }}
                {{/each}}
              </p>
            </div>
          </div>
          <div class="flex">
            <button class="flex-item" id="btnFollow" data-toggle="modal" data-target="#myModal1"
              type="button">Followers</button>
            <button class="flex-item" id="btnFollow" data-toggle="modal" data-target="#myModal3"
              type="button">Following</button>
            {{#each userInfo.followees}}
            <div>{{this.firstName}} {{this.lastName}}</div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Card for the users Reading Now-->
<section class="row readNowRow">
  <div id="haveReadCard" class="col-md-12" width="100%">
    <div class="card mb-3" style="max-width: 450px;">
      <div class="card-header">Have Read</div>
      <div class="card-body" id="cardBody2">
        <ul class='future-list'>
          {{#each pastList}}
         <p class={{id}}>{{title}} 
             <button id={{id}} class="fake-class" {{id}}><i class="fa fa-times test-icon"></i>
              <span hidden>
                {{id}}</span></button></p>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </section>

  <!--Card for the users TBR-->
  <section class="row toReadRow">
 <div id="haveReadCard" class="col-md-12" width="100%">
    <div class="card mb-3" style="max-width: 450px;">
      <div class="card-header">To Read</div>
      <div class="card-body" id="cardBody4">
        <ul class='future-list'>
          {{#each futureList}}

          <p class={{id}}>{{title}} 
             <button id={{id}} class="fake-class" {{id}}><i class="fa fa-times test-icon"></i>
              <span hidden>
                {{id}}</span></button></p>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>

<br>
<br>

<!-- Followers Modal -->
<div class="modal" id="myModal1">
	<div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Followers</h4>    
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div><div class="modalContainer">
        <div class="modal-body">
          <ul>
          {{#each followingUser}}
          <p class='user-connection' id={{id}}>{{this.firstName}} {{this.lastName}} | <a data-toggle= 'modal' class='user-books' href='#myModal2'> {{this.firstName}}'s books <i class="fa fa-book"></i></a> | <a class='user-follow'> Follow {{this.firstName}} <i class="fa fa-plus-square-o"></i></a></p>
          {{/each}}
          </ul>
          {{!-- <a data-toggle="modal" href="#myModal2" class="btn btn-primary">Launch modal</a> --}}
        </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
    </div>
</div>

<!-- Following Modal -->
<div class="modal" id="myModal3">
	<div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Followers</h4>    
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div><div class="modalContainer">
        <div class="modal-body">
          Followers Goes Here
          <a data-toggle="modal" href="#myModal2" class="btn btn-primary">Launch modal</a>
        </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
    </div>
</div>

<!--pop out modal for both followers and following. This will show the users books-->
<div class="modal" id="myModal2" data-backdrop="static">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {{!-- <h4 class="modal-title">{{this.id}}{{this.firstName}} {{this.lastName}}</h4> --}}
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modalContainer">
        <div class="modal-body modal-books">
        </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Save changes</a>
        </div>
      </div>
    </div>
</div>

<!--pop out modal-->
{{!-- <div class="modal" id="myModal4" data-backdrop="static">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{this.id}}{{this.firstName}} {{this.lastName}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modalContainer">
        <div class="modal-body">
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
        </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Save changes</a>
        </div>
      </div>
    </div>
</div> --}}

{{!-- <div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
      </div> -->
      <div class="modal-body">
        <!-- <p>Some text in the modal.</p> -->
        <!--ADD ACCORDIAN  FROM BOOTSTRAP!!! IT IS UNDER COLLAPSE-->
         Content for the dialog / modal goes here.
          <a data-toggle="modal" href="#myModal2" class="btn btn-primary">Launch modal</a>
        {{#each followees}}
        <div><a href="/profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal2" data-backdrop="static">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2nd Modal title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div><div class="container"></div>
        <div class="modal-body">
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
          Content for the dialog / modal goes here.
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Back</a>
        </div>
      </div>
    </div>
</div>

<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
      </div> -->
      <div class="modal-body">
        <!-- <p>Some text in the modal.</p> -->
        <!--ADD ACCORDIAN  FROM BOOTSTRAP!!! IT IS UNDER COLLAPSE-->
        <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

        {{#each followees}}
        <div class="{{this.id}}"><a href="/profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}

<script>
  var userId = {{ userInfo.id }};
</script>

{{> modal/login-block}}